<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>电子病历标注工具-v0.0.1</title>
    <% if (htmlWebpackPlugin.options.appModules) { %>
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.appModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>


  </head>
  <body>
    <div id="app"></div>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
